

.wd-course-navigation-container {
    float: left;
    width: 200px;
    margin-left: 20px;
}

.wd-course-navigation {
    width: 120px;
    padding: 0px;
    margin-left: 20px;
    margin-right: 20px;
}

/*list items here*/
.wd-course-navigation li {
    list-style-type: none;
    margin-bottom: 8px;
    padding-left: 10px;
    font-size: larger;
}

.wd-course-navigation li.active {
    border-left: 3px black solid;
    color: black solid;
}

/* These would be the hyperlinks

active is used for li's
*/
.wd-course-navigation li a {
    color: red;
    text-decoration: none;
}

.wd-course-navigation li.active a {
    color: black;
    
}