
.wd-dashboard-card-grid {
    display: flex;
    flex-direction: row;
    
}

.wd-dashboard-published-courses-container {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}


.wd-dashboard-card {
    box-sizing: border-box;
    box-shadow: 0 2px 5px rgba(0,0,0,.3);
    border-radius: 4px;
    overflow: hidden;
    background: #fff;
    width: 262px;
    display: inline-block;
    vertical-align: top;
    margin: 36px 0 0 36px;
}

.wd-dashboard-card-image {
    box-sizing: border-box;
    height: 146px;
    border: 1px solid rgba(0,0,0,.1);
}


.wd-dashboard-card-link {
    color: black;
    text-decoration: none;
}

.wd-dashboard-card-text-container {
    text-align: left;
    width: 18rem;
    text-decoration: none;
}