/* General styles for Kanbas */

.wd-flex-row-container {
    display: flex;
    flex-direction: row;
}

.wd-flex-grow-1 {
    flex-grow: 1;
}

.body {
    font-family: Arial, Helvetica, sans-serif; /* maybe declare this in something higher like in a public/styles.css*/
    font-size: 0.8em; /* em is measure of size that is relative to normal size */
}

.wd-kanbas-screen-container {
    display: flex;
    flex-direction: row;
}

.wd-course-breadcrumb-header {
    color: red;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px;
}

.wd-kanbas-course-page {
    display: flex;
    flex-direction: column;
    padding-left: 100px;
}

.wd-course-page-and-navigation {
    display: flex;
    flex-direction: row;
    width: 100%;
}