

.wd-course-navigation {
    width: 120px;
    padding: 0px;
    margin-left: 20px;
}

.wd-course-navigation li {
    list-style-type: none;
    margin-bottom: 20px;
    padding-left: 10px;
}

.wd-course-navigation li.active {
    border-left: 3px black solid;
}

.wd-course-navigation li a {
    color: red;
    text-decoration: none;
}



/* 


.list-group-item {
    border: none;
}

ul.course-navigation.list-group {
    border-radius: 0px;
}

ul.wd-course-navigation .list-group-item.active {
    color: black;
    background-color: white;
    border: none;
    border-left: 2px solid black;
}

ul.wd-course-navigation a {
    color: red;
    text-decoration: none;
}

ul.wd-course-navigation.active a {
    color: black;

} */